.App {
  text-align: center;
}
body{
  background: #fefefe;
}
header{
  width: 100%;
  height: 80px;
  background: #11101b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
