.select {
    width: 100%;
    padding: 8px 16px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.order-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.cars-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
}
.wrapper {
    margin-top: 50px;
}
label + label{
    margin-left: 10px;
}
