*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Segoe UI Light";
}
.card{
    overflow: hidden;
    box-shadow: 0 2px 20px lightgrey;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    margin-top: 10px;
}
.card:hover{
    transform: scale(1.02);
}
.image{
    height: 12rem;
    width: 100%;
    object-fit: cover;
}
.card-title{
    padding: 1rem;
}
.card-description{
    padding: 0 1rem;
}
.card-button{
    padding: 10px;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #e72020;
    background: transparent;
    color: #e72020;
    border-radius: 10px;
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
}
.card-button:hover{
    color: white;
    background-color: #E72020FF;
}
.favourite{
    margin-left: 50px;
    font-size: 20px;
    cursor: pointer;
}