.image{
    width: 100%;
    height: 100vh;
}
.inscription {
    position: absolute;
    top: 15%;
    left: 6%;
    font-size: 38px;
    font-family: "Arial Black";
    font-style: italic;
    color: white;
}